{% extends 'base.html' %}

{% block title %}yourblog{% endblock title %}
{% block yourblogactive %} active {% endblock yourblogactive %}

{% block body %}
 <div  class="container my-3" >
 
        <h2>Write your blog</h2>
        <form action="/yourblog" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" name="author" aria-describedby="author">
    
  </div>
  
  <div class="form-group">
    <label for="blogy">Blog</label>
    <textarea class="form-control" name="blogy" id="blogy" cols="30" rows="5"></textarea>
  </div>
  
  <div class="form-group">
    <label for="photo">Title image</label>
    <input type="file" class="form-control-file" id="photo" name="photo">
  </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
{% endblock body %}