{% extends 'base.html' %}

{% block title %}Blogpost{% endblock title %}

{% block body %}
{% load humanize %}

<div class="container my-3">
   <div class="blog-post ">
      <h2 class="blog-post-title">{{post.title}}</h2>
      <p class="blog-post-meta">{{post.timestamp}} by <a href="/about">{{post.author}}</a></p>

      <p>{{post.content|safe}}</p>
      <hr>
   </div>

</div>
<div class="container">
   <h2>Comments ({{comments.count}}) </h2>
   <div class="my-2">
      {% if user.is_authenticated %}
   </div>
   <form action="/blog/postComment" method="post">{% csrf_token %}
      <div class="form-group container">
         <label for="label">Post Comment</label>
         <textarea type="text" class="form-control" name="comment" placeholder="Enter your comment here"></textarea>
         <input type="hidden" name="postSno" value="{{post.sno}}">
         <button type="submit" class="btn btn-primary my-2">Submit</button>

      </div>

   </form>
   {% else %}
   <form action="/blog/postComment" method="post">{% csrf_token %}
      <div class="form-group container">
         <label for="label">Post Comment</label>
         <textarea type="text" class="form-control" name="comment" placeholder="Enter your comment here"></textarea>
         <input type="hidden" name="postSno" value="{{post.sno}}">
         <a class="btn btn-danger ml-2 mx-2" data-toggle="modal" data-target="#loginModal">submit</a>

      </div>

   </form>


   {% endif %}


   {% for comment in comments %}
   <div class="row my-3">
      <div class="col-md-1">
         <img class="rounded mx-auto d-block w-100 p-2 border border-dark" src="/static/user.png" alt="user">
      </div>
      <div class="col-md-11"><b>
            {{comment.user.username}} </b> <span class="badge badge-secondary">
            {{comment.timestamp | naturaltime}}</span>
         <div>{{comment.comment}} </div>
         

         
      </div>
   </div>

   {% endfor %}
</div>
{% endblock body %}